body {
	min-width: 310px;
	margin: 0;
	padding: 20px 20px 5px;
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif
}

.show {
	margin-bottom: 20px
}

.show h2 {
	font-size: 16px;
	margin: 0 0 15px
}

.show p {
	margin: 0;
	font-size: 14px;
	line-height: 20px
}

.show a {
	color: #d23f31;
	text-decoration: none
}